body {
    font-family: "Oswald", sans-serif;
    margin: 0 auto;
    max-width: 80%;
    height: 100px;
  }
.container {
    border: 1px solid #2c553c;
    padding: 20px;
    margin: 10px auto;
    width: 100%;
  }
.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}
.cadet-blue {
  background-color: rgb(95, 158, 160);
}
.dark-golden-rod {
  background-color: rgb(184, 134, 11);
}
